script(src='/assets/libs/jquery/dist/jquery.min.js')
script(src='/assets/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/assets/libs/zeroclipboard/dist/ZeroClipboard.min.js')
script(src="/assets/js/g.js")
//- Use /assetes/.....  --> absolute path