script(src='/assets/libs/jquery/dist/jquery.min.js')
script(src='/assets/js/libs/jquery-ui.min.js')		
script(src='/assets/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/assets/libs/zeroclipboard/dist/ZeroClipboard.min.js')
script(src='/assets/js/core/require.js' data-main="/assets/js/main.js")
script(src="/assets/js/g.js")
//- Use /assetes/.....  --> absolute path