header.topNav
  div.bottom-header
    div.container
      a.navbar-brand.animated.bounceInRight(href="#")
        span.logo
          img(src="/assets/images/logo.png")  
          span.phone #{site.tel}
      nav.navbar(role="navigation")
        ul#menu-main-menu.nav.navbar-nav.pull-right
          if nav == 'index'      
            li.menu-item.active
              a(href="/") 首页                     
          else   
            li.menu-item
              a(href="/") 首页  
          //- if nav == 'sell'      
          //-   li.menu-item.active
          //-     a(href="/sell.html") 每日交易                     
          //- else   
          //-   li.menu-item
          //-     a(href="/sell.html") 每日交易   
          //- if nav == 'stock'      
          //-   li.menu-item.active
          //-     a(href="/stock.html") 库存现车                     
          //- else   
          //-   li.menu-item
          //-     a(href="/stock.html") 库存现车              
          //- li.menu-item
            a(href="/") 全国网点
          if nav == 'about'      
            li.menu-item.active
              a(href="/about.html") 联系我们                     
          else   
            li.menu-item
              a(href="/about.html") 联系我们                                            
  div.header_shadow
#signupModal.modal.fade
  .modal-dialog  
    .modal-content
      form(method="POST",action="/user/signup")
        .modal-header 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(name="user[name]",type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="user[password]",type="text")
        .modal-footer 
          button.btn.btn-default(type="button",data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
  .modal-dialog  
    .modal-content
      form(method="POST",action="/user/signin")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(name="user[name]",type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signupPassword.form-control(name="user[password]",type="text")
        .modal-footer 
          button.btn.btn-default(type="button",data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交 











                   