nav.affix-top
	ul.nav
		li
			a(href="/admin/car") 汽车录入  
			a(href="/admin/car/list") 列表
		li
			a(href="/admin/brands") 品牌录入
			a(href="/admin/brands/list") 列表				
		li
			a(href="/admin/tags") 标签录入
			a(href="/admin/tags/list") 列表			
		li
			a(href="/admin/upload") 图片上传
			a(href="/admin/upload/list") 列表				