nav.affix-top
	ul.nav.nav-pills.nav-stacked
		li
			a(href="/admin/car") 数据录入	
		li
			a(href="/cms/site") 网站信息
		li
			a(href="/cms/banner") 焦页图  
			a(href="/cms/banner/list") 列表
		li
			a(href="/cms/rank") 销售排行榜  
			a(href="/cms/rank/list") 列表			
		li
			a(href="/cms/category") 数据集
			a(href="/cms/category/list") 数据集列表
		li
			a(href="/cms/images") 图片集
			a(href="/cms/images/list") 图片集列表			