extends ../layout
include ../includes/mixin
block head
  link(href='/build/about.css',rel='stylesheet')
block content
  .container.main.clearfix
    dl.about-us
      dt 
        h3 车在这国际贸易有限公司
      dd 全国批发进口车，天津港保税区进口美规、欧规、中东版，路虎、奔驰、宝马、卡宴、丰田现车，独立报关，平行进口库存大量更新，提供进口车批发零售，诚信经营，信誉保障
      dt 
        h3 联系方式
      dd QQ:2394239369     
      dd.clearfix
        address.col-md-4
          //- strong 李杰
          abbr(title="Phone") 电话：18202616808  
          br
          img(src="http://182.92.183.34:3000/upload/1449731595603.png" width=200 height=200)
        address.col-md-4
          //- strong 小明
          abbr(title="Phone") 电话：15822946566
          br
          img(src="http://182.92.183.34:3000/upload/1449731602680.png" width=200 height=200)
      dt 
        h3 公司地址
      dd 天津港保税区 天保大道138号 汽车城
