extends ../adminlayout
block content
      table.table.table-hover.table-striped
        thead
          tr
            th 图片
            th 文件名
        tbody
          each item in uploads
            tr(class="item-id-#{item._id}")
              td: img(src="#{item.path}",width=100,height=100) 
              td #{item.path}
  script(src="/assets/js/main.js")                  
