extends ../../layout

block content
  .signin(style="margin-top:100px;min-height:400px;")
    .container
      .row
        .col-md-6.col-md-offset-3
          form(method="POST",action="/user/signin")
            .modal-body
              .form-group
                label(for="signinName") 用户名
                input#signinName.form-control(name="user[name]",type="text")
              .form-group
                label(for="signinPassword") 密码
                input#signupPassword.form-control(name="user[password]",type="password")
            .modal-footer 
              button.btn.btn-success(type="submit") 提交 

